<section class="details-talk-actions">
    <h4>Actions:</h4>
    {%  if watched %}
    <div class="alert alert-info" role="alert"><i class="fas fa-eye"></i> Watched on {{ watched.created }} </div>
    {% endif %}
    {%  if favorited %}
    <div class="alert alert-info" role="alert"><i class="fas fa-heart"></i> Favorited on {{ favorited.created }} </div>
    {% endif %}
    {%  if liked %}
    <div class="alert alert-info" role="alert"><i class="fas fa-thumbs-up"></i> Liked on {{ liked.created }} </div>
    {% endif %}
    {%  if disliked %}
    <div class="alert alert-info" role="alert"><i class="fas fa-thumbs-down"></i> Disliked on {{ disliked.created }} </div>
    {% endif %}
    <a class="btn btn-primary {%  if watched %}disabled{% endif %}" href="{% url 'talks:talk-watch' object.slug %}" role="button"><i class="fas fa-thumbs-up"></i>  Mark as watched</a>
    <a class="btn btn-primary {%  if liked %}disabled{% endif %}" href="{% url 'talks:talk-like' object.slug %}" role="button"><i class="fas fa-thumbs-up"></i>  Like</a>
    <a class="btn btn-primary {%  if disliked %}disabled{% endif %}" href="{% url 'talks:talk-dislike' object.slug %}" role="button"><i class="fas fa-thumbs-down"></i>  Dislike</a>
    <a class="btn btn-primary {%  if favorited %}disabled{% endif %}" href="{% url 'talks:talk-favorite' object.slug %}" role="button" {%  if favorited %}aria-disabled="true"{% endif %}><i class="fas fa-heart"></i>  Favorite</a>
    {% if user.is_superuser %}
    <a class="btn btn-secondary float-right" href="/admin/talks/talk/{{ object.id }}/change/" role="button" target="_admin"><i class="fas fa-edit"></i>  Edit on admin</a>
    {% endif %}
</section>