<h3>Actions:</h3>
<a class="btn btn-primary" href="{% url 'talks:talk-like' object.slug %}" role="button"><i class="fas fa-thumbs-up"></i>  Like</a>
<a class="btn btn-primary" href="{% url 'talks:talk-dislike' object.slug %}" role="button"><i class="fas fa-thumbs-down"></i>  Dislike</a>
<a class="btn btn-primary" href="{% url 'talks:talk-favorite' object.slug %}" role="button"><i class="fas fa-thumbs-up"></i>  Favorite</a>
{% if user.is_superuser %}
<a class="btn btn-primary" href="/admin/talks/talk/{{ object.id }}/change/" role="button"><i class="fas fa-edit"></i>  Edit on admin</a>
{% endif %}