{% if pagination.is_paginated %}
    <nav class="pagination" aria-label="Pagination">
        <span class="page-links">
            {% if pagination.has_previous %}
                <a href="{% url url_target page=1 %}" class="btn btn-sm btn-primary"><i class="fas fa-angle-double-left"></i> </a>
                <a href="{% url url_target page=pagination.previous_page_number %}" class="btn btn-sm btn-primary"><i class="fas fa-angle-left"></i> </a>
            {% endif %}
            <span class="page-current">
                Page {{ pagination.number }} of {{ pagination.num_pages }}
            </span>
            {% if pagination.has_next %}
                <a href="{% url url_target page=pagination.next_page_number %}" class="btn btn-sm btn-primary"><i class="fas fa-angle-right"></i> </a>
                <a href="{% url url_target page=pagination.num_pages %}" class="btn btn-sm btn-primary"><i class="fas fa-angle-double-right"></i> </a>
            {% endif %}
        </span>
    </nav>
{% endif %}