# .coveragerc to control coverage.py
[run]
branch = True
omit =
    */migrations/*.py
    */.venv/*
    config/wsgi.py
    manage.py
source =
    config/
    corporate/
    talks/
    user_profile/

[report]
skip_covered = False
show_missing = False

[html]
directory = .cover