Django
git+https://github.com/alex/django-taggit.git
git+https://github.com/glemmaPaul/django-taggit-serializer.git
git+https://github.com/yourlabs/django-autocomplete-light.git
requests
requests-mock
oauth2
coverage==4.4.2
psycopg2
djangorestframework
codecov
elasticsearch>=6.0.0,<7.0.0
elasticsearch-dsl
asyncio-nats-client

git+https://github.com/vtalks/youtube_data_api3.git
git+https://github.com/vtalks/ranking_sorting.git
