html, body {
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

section {
    padding: 20px 0;
}

.btn-primary,
.btn-primary.disabled{
    background-color: #2c3e50;
    border-color: #2c3e50;
    color: #bdc3c7;
}
.btn-primary:hover {
    background-color: #34495e;
    border-color: #34495e;
    color: #ecf0f1;
}
.btn-secondary {
    color: #ecf0f1;
}

/* navbar */
nav.navbar {
    background-color: #2c3e50;
}

nav.navbar a,
nav.navbar a:visited
nav.navbar a:link {
    color: #bdc3c7;
}
nav.navbar a:hover {
    color: #ecf0f1;
}

/* search form */
section.search-form {
    background-color: #ecf0f1;
}
.search-form button[type="submit"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* hot talks */
section.hot-talks {
    background-color: #ECF0F1;
}

/* details talk */
.details-talk .embed-responsive {
    margin-bottom: 15px;
}

/* footer */
footer a {
    color: #868e96;
}
footer a:hover {
    color: #646c74;
}

/* footer social */
footer a.github,
footer a.facebook,
footer a.linkedin,
footer a.twitter,
footer a.rss {
    transition: color .5s ease-out;
}

footer a.github:hover {
    color: #000000;
}

footer a.facebook:hover {
    color: #3B5998;
}

footer a.linkedin:hover {
    color: #0077B5;
}

footer a.twitter:hover {
    color: #1DA1F2;
}

footer a.rss:hover {
    color: #f26522;
}