html, body {

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Rubik', sans-serif;
}

section {
    padding: 20px 0;
}

/* search form */
section.search-form {
    background-color: #ecf0f1;
}
.search-form button[type="submit"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* hot talks */
section.hot-talks {
    background-color: #ECF0F1;
}