{% if is_paginated %}
    <nav class="pagination" aria-label="Search pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?q={{search_query}}&page=1">&laquo; first</a>
                <a href="?q={{search_query}}&page={{ object_list.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>
            {% if object_list.has_next %}
                <a href="?q={{search_query}}&page={{ object_list.next_page_number }}">next</a>
                <a href="?q={{search_query}}&page={{ object_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </nav>
{% endif %}