{% if is_paginated %}
    <nav class="pagination" aria-label="Search pagination">
        <span class="step-links">
            {% if search_results.has_previous %}
                <a href="?q={{search_query}}&page=1">&laquo; first</a>
                <a href="?q={{search_query}}&page={{ search_results.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ search_results.number }} of {{ search_results.paginator.num_pages }}.
            </span>
            {% if search_results.has_next %}
                <a href="?q={{search_query}}&page={{ search_results.next_page_number }}">next</a>
                <a href="?q={{search_query}}&page={{ search_results.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </nav>
{% endif %}