{% extends "layouts/default.html" %}
{% block content %}
<main role="main">
    <div class="container">
        <h1>Contact</h1>
        <p>Use the following form to contact us. We're pleased to hear from you
        if you have questions or comments about anything on this site, or any
        other feedback for us.</p>
        <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
</main>
{% endblock %}