{% extends "_layouts/default.html" %}
{% block title %}Contact us - vtalks.net{% endblock %}
{% block content %}
<main role="main">
    <!-- contact -->
    <section class="container contact">
        <h3>Contact</h3>
        <p>Use the following form to contact us. We're pleased to hear from you
        if you have questions or comments about anything on this site, or any
        other feedback for us.</p>
        <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </section>
</main>
{% endblock %}