{% extends "_layouts/default.html" %}
{% block title %}{{object.title}} - vtalks.net{% endblock %}
{% block opengraph %}
<!-- Open Graph http://ogp.me/ -->
<meta property="og:site_name" content="vtalks.net" />
<meta property="og:title" content="{{object.title}}" />
<meta property="og:type" content="video" />
<meta property="og:url" content="{% url 'talks:talk-details' object.slug %}" />
<meta property="og:image" content="{{object.high_thumb}}" />
<meta property="og:image:secure_url" content="{{object.high_thumb}}" />
<meta property="og:image:type" content="image/jpeg" />
{% endblock %}
{% block content %}
<main role="main">
    <!-- search form -->
    <section class="container-fluid search-form">
        <div class="container">
            {% include "_partials/search_form.html" %}
        </div>
    </section>
    <!-- details talk -->
    <div class="container details-talk">
        <h3>{{object.title}}</h3>
        <p><i class="far fa-calendar-alt"></i> Published: {{object.created}}</p>
        <p><i class="far fa-calendar-alt"></i> Updated: {{object.updated}}</p>
        <p><i class="fas fa-folder"></i> Channel: <a href="{% url 'talks:channel-details' object.channel.slug %}">{{object.channel}}</a></p>
        <p><i class="fab fa-youtube"></i> Original link: <a href="{{object.youtube_url}}" rel="nofollow">{{object.youtube_url}}</a></p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{object.code}}?rel=0&showinfo=0" allowfullscreen></iframe>
        </div>
        <h4>Description:</h4>
        <p class="text-justify">{{object.description|linebreaks|urlize}}</p>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <h5>Details:</h5>
            </div>
            <div class="col-md-6">
                <h5>Controls:</h5>
            </div>
        </div>
    </div>
</main>
{% endblock %}