{% extends "_layouts/default.html" %}
{% load humanize %}
{% load timedelta %}
{% block title %}{{object.title}} - vtalks.net{% endblock %}
{% block opengraph %}
<!-- Open Graph http://ogp.me/ -->
<meta property="og:site_name" content="vtalks.net" />
<meta property="og:title" content="{{object.title}}" />
<meta property="og:type" content="video" />
<meta property="og:url" content="{% url 'talks:talk-details' object.slug %}" />
<meta property="og:image" content="{{object.high_thumb}}" />
<meta property="og:image:secure_url" content="{{object.high_thumb}}" />
<meta property="og:image:type" content="image/jpeg" />
{% endblock %}
{% block twittercard %}
<!-- Twitter Card https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@vtalksnet">
<meta name="twitter:title" content="{{object.title}}">
<meta name="twitter:description" content="{{object.description}}">
<meta name="twitter:image" content="{{object.high_thumb}}">
{% endblock %}
{% block content %}
<main role="main">
    <!-- search form -->
    <section class="container-fluid search-form">
        <div class="container">
            {% include "_partials/search_form.html" %}
        </div>
    </section>
    <!-- details talk -->
    <div class="container">
        <div class="row pt-3">
            <div class="details-talk col-md-8">
                <h2>{{object.title}}</h2>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{object.code}}?rel=0&showinfo=0" allowfullscreen></iframe>
                </div>
                <h3>Details:</h3>
                <p class="text-muted small"><i class="far fa-clock"></i> Duration: {{object.duration|timedelta_nozeros}}</p>
                <p class="text-muted small"><i class="far fa-calendar-alt"></i> Published: {{object.created}}</p>
                <p class="text-muted small"><i class="far fa-calendar-alt"></i> Updated: {{object.updated}}</p>
                <p class="text-muted small"><i class="fas fa-folder"></i> Channel: {{object.channel}}</p>
                {% if object.playlist %}
                <p class="text-muted small"><i class="fas fa-folder"></i> Playlist: {{object.playlist}}</p>
                {% endif %}
                <p class="text-muted small"><i class="fab fa-youtube"></i> Original link: <a href="{{object.youtube_url}}" rel="nofollow">{{object.youtube_url}}</a></p>
                <h3>Statistics:</h3>
                <p class="text-muted small"><i class="fas fa-eye"></i> {{object.total_view_count|intcomma}} views</p>
                <p class="text-muted small"><i class="fas fa-thumbs-up"></i> {{object.total_like_count|intcomma}} likes</p>
                <p class="text-muted small"><i class="fas fa-thumbs-down"></i> {{object.total_dislike_count|intcomma}} dislikes</p>
                <p class="text-muted small"><i class="fas fa-heart"></i> {{object.total_favorite_count|intcomma}} favorites</p>
                <h3>Description:</h3>
                <p class="text-justify">{{object.description|linebreaks|urlize}}</p>
                <h3>Metadata:</h3>
                <ul class="list-unstyled">
                    {% for tag in object.tags.all %}
                    <li class="d-inline">
                    <a href="{% url 'talks:tag-details' tag.slug %}" class="badge badge-secondary badge-light text-muted p-3 mb-2"><i class="fas fa-tag"></i> {{tag.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- related talks -->
            <div class="related-talks col-md-4">
                <h3>Related talks</h3>
                {% if object.tags.similar_objects %}
                    {% include "_partials/list_related_talks.html" with object_list=object.tags.similar_objects|slice:":20" %}
                {% else %}
                    <p>No results.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}