{% extends "_layouts/default.html" %}
{% block title %}vtalks.net{% endblock %}
{% block content %}
<main role="main">
    <!-- search form -->
    <section class="container-fluid search-form">
        <div class="container">
            {% include "_partials/search_form.html" %}
        </div>
    </section>
    <!-- latest talks -->
    <section class="container latest-talks">
        <h3>Latest talks</h3>
        {% if latest_talks %}
            {% include "_partials/list_talks.html" with object_list=latest_talks %}
            <hr/>
            <a href="{% url 'talks:latest-talks' %}" class="btn btn-primary btn-sm">View more <i class="fas fa-angle-right"></i></a>
        {% else %}
            <p>No results.</p>
        {% endif %}
    </section>
    <!-- popular talks -->
    <section class="container popular-talks">
        <h3>Popular talks</h3>
        {% if popular_talks %}
            {% include "_partials/list_talks.html" with object_list=popular_talks %}
            <hr/>
            <a href="{% url 'talks:popular-talks' %}" class="btn btn-primary btn-sm">View more <i class="fas fa-angle-right"></i></a>
        {% else %}
            <p>No results.</p>
        {% endif %}
    </section>
</main>
{% endblock %}