{% extends "_layouts/default.html" %}
{% block title %}Privacy policy - vtalks.net{% endblock %}
{% block content %}
<main role="main">
    <!-- privacy policy -->
    <section class="container privacy-policy">
        <h2>Privacy Policy</h2>
        <p>At vtalks.net (<a href="http://www.vtalks.net">www.vtalks.net</a>),
        the privacy of our visitors is extremely important. This Privacy Policy
        outlines the types of personal information that is received and
        collected and how it is used.</p>
        <p>This Privacy Policy is reviewed and revised from time to time. You
        will want to revisit it regularly. Your use of this site, in any and
        all forms, constitutes an acceptance of this Privacy Policy.</p>
        <h3>Log Files</h3>
        <p>We use log files like many other websites. The information in the
        log files include:</p>
        <ul>
            <li>Internet Protocol addresses (IP)</li>
            <li>Types of browser</li>
            <li>Internet Service Provider (ISP)</li>
            <li>Date and time stamp</li>
            <li>Referring and exit pages</li>
            <li>Number of clicks</li>
        </ul>
        <p>All of this information is not linked to anything that is personally
        identifiable.</p>
        <h3>Cookies</h3>
        <p>We use cookies to store information about visitor preferences and to
        record user-specific information on visits and pages the user views so
        as to provide a custom experience. In regard to third-party
        advertisers, they have no access or control over these cookies.
        You should review the respective privacy policies on any and all
        third-party ad servers for more information regarding their practices
        and how to opt-out.</p>
        <p>If you wish to disable cookies you may do so through your web 
        browser options. Instructions for doing so and for other cookie-related
        management can be found on the specific web browsers’ websites.</p>
        <h3>Other</h3>
        <p>Users might be asked to subscribe to our newsletter by providing
        name and email address to receive communication from vtalks.net. We
        use a secure op-in subscription system and we reserve the right to
        contact subscribers with information related to this website and blog.
        Subscribers may unsubscribe anytime and every email delivered will
        contain an “Unsubscribe” link.</p>
        <p>If you require any more information or have any questions about our
        privacy policy, please feel free to contact us by email at
        <a href="mailto:hello@vtalks.net">hello@vtalks.net</a>.</p>
        <p>Last Updated: July 12, 2017</p>
    </section>
</main>
{% endblock %}