{% extends "layouts/default.html" %}
{% block content %}
<main role="main">
    <div class="container seach">
        <div class="container search-form">
            <h1>Search:</h1>
            <form action="{% url 'talks:search' %}" method="get">
                {{search_form.as_p}}
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
            </form>
        </div>
        <div class="container search-results">
            <h2>Search results for: {{search_query}}</h2>
            {% if search_results %}
                <ul class="list-unstyled">
                {% for talk in search_results %}
                    <li class="media">
                        <a href="">
                            <img class="mr-3" src="{{talk.medium_thumb}}" alt="{{talk.title}}">
                        </a>
                        <div class="media-body">
                            <a href="">
                                <h5 class="mt-0 mb-1">{{talk.title}}</h5>
                            </a>
                            <p>{{talk.view_count}} views · {{talk.created|timesince}}</p>
                            {{talk.description}}
                        </div>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Search has no results.</p>
            {% endif %}
        </div>
    </div>
</main>
{% endblock  %}
