{% extends "layouts/default.html" %}
{% block content %}
<main role="main">
        <div class="container">
            <h1>Terms of Service</h1>
            <p>This website uses cookies. By using this website and agreeing to
            these terms and conditions, you consent to vtalks.net use of
            cookies in accordance with the terms of vtalks.net
            <a href="http://vtalks.net/privacy">privacy policy</a>.</p>
            <h3>Open Source</h3>
            <p>vtalks.net is an open source project. So it is provided “as is”
            without any representations or warranties, express or implied. We
            no representations or warranties in relation to this website or the
            information and materials provided.</p>
            <p>You can contact vtalks.net for further information by email at
            <a href="mailto:hello@vtalks.net">hello@vtalks.net</a>.</p>
            <p>Last Updated: July 12, 2017</p>
        </div>
</main>
{% endblock %}