{% extends "_layouts/default.html" %}
{% block title %}About us - vtalks.net{% endblock %}
{% block content %}
<section class="container-fluid login p-0 py-4">
    <!-- about -->
    <div class="container about">
        <h2>About</h2>
        <p>Developers! Developers! Developers!</p>
        <p>We love technical talks isn't it? We learn with them, we like to
        speak at them, and we really love to meet new people there. People like
        us, our crowd.</p>
        <p>But there is a problem, every year more and more conferences are
        celebrated with a lot of great talks and speakers, and we can't attend
        to all of them ofcourse. And that's the reason we have built
        vtalks.net. A place where you can publish, recomend and discover the
        latest and more popular talks driven by a community of developers and
        enthusiasts that love technical talks and enjoy watching them to learn
        about technology, about internet and about anything you can
        imagine.</p>
        <p>We’re hoping to make it a little bit easier for the world to find
        out about cool technical talks.</p>
    </div>
</section>
{% endblock %}