{% extends "_layouts/default.html" %}
{% load humanize %}
{% load timedelta %}
{% block title %}{{object.title}} - vtalks.net{% endblock %}
{% block opengraph %}
<!-- Open Graph http://ogp.me/ -->
<meta property="og:site_name" content="vtalks.net" />
<meta property="og:title" content="{{object.title}}" />
<meta property="og:type" content="video" />
<meta property="og:url" content="{% url 'talks:talk-details' object.slug %}" />
<meta property="og:image" content="{{object.high_thumb}}" />
<meta property="og:image:secure_url" content="{{object.high_thumb}}" />
<meta property="og:image:type" content="image/jpeg" />
{% endblock %}
{% block twittercard %}
<!-- Twitter Card https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@vtalksnet">
<meta name="twitter:title" content="{{object.title}}">
<meta name="twitter:description" content="{{object.description}}">
<meta name="twitter:image" content="{{object.high_thumb}}">
{% endblock %}
{% block content %}
<!-- search form -->
<section class="container-fluid search-form p-0 py-4">
    <div class="container">
        {% include "_partials/search_form.html" %}
    </div>
</section>
<!-- details talk -->
<section class="container-fluid details-talk p-0 py-4">
    <div class="container">
        <div class="row">
            <div class="details-talk col-md-8">
                <h1>{{object.title}}</h1>
                <!-- details talk : embed video -->
                {% include "_partials/details_talk_video.html" %}
                <!-- details talk : description -->
                {% include "_partials/details_talk_description.html" %}
                <hr/>
                <!-- details talk : details -->
                {% include "_partials/details_talk_details.html" %}
                <hr/>
                <!-- details talk : statistics -->
                {% include "_partials/details_talk_statistics.html" %}
                <hr/>
                <!-- details talk : metadata -->
                {% include "_partials/details_talk_metadata.html" %}
                <!-- datails talk : actions -->
                {% if user.is_authenticated %}
                <hr/>
                {% include "_partials/details_talk_actions.html" %}
                {%  endif %}
            </div>
            <!-- related talks -->
            <div class="related-talks col-md-4">
                <h3>Related talks</h3>
                {% if related_talks %}
                    {% include "_partials/list_related_talks.html" with object_list=related_talks %}
                {% else %}
                    <p>No results.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- hot talks -->
<section class="container-fluid hot-talks p-0 py-4">
    <div class="container">
        <h2>Hot talks</h2>
        {% if hot_talks %}
        <div class="card-deck">
            {% for object in hot_talks %}
            <div class="card">
                <a href="{% url 'talks:talk-details' object.slug %}">
                    <img class="card-img-top" src="{{ object.high_thumb }}" alt="{{ object.title }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'talks:talk-details' object.slug %}">{{ object.title }}</a></h5>
                    <p class="card-text">
                        <small class="text-muted">
                        <i class="fas fa-clock"></i> {{object.duration|timedelta_nozeros}}
                        <br/>
                        <i class="far fa-calendar-alt"></i> {{object.created|naturaltime}}
                    </small>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {%  endif %}
    </div>
</section>
{% endblock %}