{% extends "_layouts/default.html" %}
{% block title %}{{object.title}} - vtalks.net{% endblock %}
{% block opengraph %}
<!-- Open Graph http://ogp.me/ -->
<meta property="og:site_name" content="vtalks.net" />
<meta property="og:title" content="{{object.title}}" />
<meta property="og:type" content="video" />
<meta property="og:url" content="{% url 'talks:talk-details' object.slug %}" />
<meta property="og:image" content="{{object.high_thumb}}" />
<meta property="og:image:secure_url" content="{{object.high_thumb}}" />
<meta property="og:image:type" content="image/jpeg" />
{% endblock %}
{% block twittercard %}
<!-- Twitter Card https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@vtalksnet">
<meta name="twitter:title" content="{{object.title}}">
<meta name="twitter:description" content="{{object.description}}">
<meta name="twitter:image" content="{{object.high_thumb}}">
{% endblock %}
{% block content %}
<main role="main">
    <!-- search form -->
    <section class="container-fluid search-form">
        <div class="container">
            {% include "_partials/search_form.html" %}
        </div>
    </section>
    <!-- details talk -->
    <div class="container">
        <div class="row pt-3">
            <div class="details-talk col-md-8">
                <h2>{{object.title}}</h2>
                <!-- details talk : embed video -->
                {% include "_partials/details_talk_video.html" %}
                <!-- details talk : details -->
                {% include "_partials/details_talk_details.html" %}
                <!-- details talk : statistics -->
                {% include "_partials/details_talk_statistics.html" %}
                <!-- details talk : description -->
                {% include "_partials/details_talk_description.html" %}
                <!-- details talk : metadata -->
                {% include "_partials/details_talk_metadata.html" %}
                <!-- datails talk : actions -->
                {% if user.is_authenticated %}
                {% include "_partials/details_talk_actions.html" %}
                {%  endif %}
            </div>
            <!-- related talks -->
            <div class="related-talks col-md-4">
                <h3>Related talks</h3>
                {% if object.tags.similar_objects %}
                    {% include "_partials/list_related_talks.html" with object_list=object.tags.similar_objects|slice:":15" %}
                {% else %}
                    <p>No results.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- hot talks -->
    <section name="container-fluid hot-talks">
        <div class="container">
            <h2>Hot talks</h2>
        </div>
    </section>
</main>
{% endblock %}