{% extends "_layouts/default.html" %}
{% block title %}vtalks.net{% endblock %}
{% block content %}
<main role="main">
    <!-- search form -->
    <section class="container-fluid search-form">
        <div class="container">
            {% include "_partials/search_form.html" %}
        </div>
    </section>
    {% if user.is_authenticated %}
    <!-- watched talks -->
    <section class="container watched-talks">
        <h3>Watched talks</h3>
        {%  if watched_talks %}
             {% include "_partials/watched_talks.html" with object_list=watched_talks %}
        {% else %}
            <p>No results.</p>
        {%  endif %}
    </section>
    {%  endif %}
    <!-- latest talks -->
    <section class="container latest-talks">
        <h3>Latest talks</h3>
        {% if latest_talks %}
            {% include "_partials/list_talks.html" with object_list=latest_talks %}
            <hr/>
            <a href="{% url 'talks:latest-talks' %}" class="btn btn-primary btn-sm">View more <i class="fas fa-angle-right"></i></a>
        {% else %}
            <p>No results.</p>
        {% endif %}
    </section>
    <!-- best talks -->
    <section class="container best-talks">
        <h3>Best talks</h3>
        {% if best_talks %}
            {% include "_partials/list_talks.html" with object_list=best_talks %}
            <hr/>
            <a href="{% url 'talks:best-talks' %}" class="btn btn-primary btn-sm">View more <i class="fas fa-angle-right"></i></a>
        {% else %}
            <p>No results.</p>
        {% endif %}
    </section>
</main>
{% endblock %}