{% extends "_layouts/default.html" %}
{% block title %}vtalks.net{% endblock %}
{% block content %}
<!-- search form -->
<section class="container-fluid search-form p-0 py-4">
    <div class="container">
        {% include "_partials/search_form.html" %}
    </div>
</section>
<!-- latest talks -->
<section class="container-fluid latest-talks p-0 py-4">
    <div class="container">
        <h2>Latest talks</h2>
        {% if latest_talks %}
            {% include "_partials/list_talks.html" with object_list=latest_talks %}
            <hr/>
            <a href="{% url 'talks:latest-talks' %}" class="btn btn-primary btn-sm">View more <i class="fas fa-angle-right"></i></a>
        {% else %}
            <p>No results.</p>
        {% endif %}
    </div>
</section>
<!-- best talks -->
<section class="container-fluid best-talks p-0 py-4">
    <div class="container">
        <h2>Best talks</h2>
        {% if best_talks %}
            {% include "_partials/list_talks.html" with object_list=best_talks %}
            <hr/>
            <a href="{% url 'talks:best-talks' %}" class="btn btn-primary btn-sm">View more <i class="fas fa-angle-right"></i></a>
        {% else %}
            <p>No results.</p>
        {% endif %}
    </div>
</section>
<!-- topic talks -->
{% if topics %}
    {% for object in topics %}
        <section class="container-fluid {{ object.slug }}-topic-talks p-0 py-4">
            <div class="container">
                <h2>{{ object.title }}</h2>
                {% if object.get_talks %}
                    {% include "_partials/list_talks.html" with object_list=object.get_talks %}
                    <hr/>
                    <a href="/topic/{{ object.slug }}/" class="btn btn-primary btn-sm">View more <i class="fas fa-angle-right"></i></a>
                {% else %}
                    <p>No results.</p>
                {% endif %}
            </div>
        </section>
    {% endfor %}
{% endif %}
{% endblock %}