{% extends "_layouts/default.html" %}
{% load humanize %}
{% block title %}Latest talks - vtalks.net{% endblock %}
{% block content %}
<!-- search form -->
<section class="container-fluid search-form p-0 py-4">
    <div class="container">
        {% include "_partials/search_form.html" %}
    </div>
</section>
<!-- latest talks -->
<section class="container-fluid latest-talks p-0 py-4">
    <div class="container">
        <h2>Latest talks</h2>
        <hr/>
        {% if object_list %}
            {% include "_partials/pagination.html" with url_target='talks:latest-talks-paginated' %}
            <hr/>
            {% include "_partials/list_talks.html" %}
            <hr/>
            {% include "_partials/pagination.html" with url_target='talks:latest-talks-paginated' %}
        {% else %}
            <p>No results.</p>
        {% endif %}
    </div>
</section>

{% endblock %}