{% extends "_layouts/default.html" %}
{% load humanize %}
{% block title %}Search - vtalks.net{% endblock %}
{% block content %}
<!-- search form -->
<section class="container-fluid search-form p-0 py-4">
    <div class="container">
        {% include "_partials/search_form.html" %}
    </div>
</section>
{% if search_query %}
    <!-- search results -->
    <section class="container-fluid search-results p-0 py-4">
        <div class="container">
            <h2>Search results for: "{{search_query}}"</h2>
            <hr/>
            {% if object_list %}
                {% include "_partials/search_pagination.html" with url_target='search:search' %}
                <hr/>
                {% include "_partials/list_talks.html" %}
                <hr/>
                {% include "_partials/search_pagination.html" %}
            {% else %}
                <p>Search has no results.</p>
            {% endif %}
        </div>
    </section>
{% endif %}
{% endblock  %}