{% extends "_layouts/default.html" %}
{% block title %}User Settings - vtalks.net{% endblock %}
{% block content %}
<main role="main">
    <!-- settings -->
    <section class="container settings">
        <h3>Settings</h3>
        <form action="{% url 'user_profile:settings' %}" method="post" id="settings">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{form.first_name.id_for_label}}">First name:</label>
                <input type="text" class="form-control" id="{{form.first_name.auto_id}}" name="{{form.first_name.html_name}}" value="{{form.first_name.value}}" placeholder="First name..." maxlength="{{form.first_name.field.max_length}}" aria-required="true" required>
            </div>
            <div class="form-group col-md-6">
                <label for="{{form.last_name.id_for_label}}">Last name:</label>
                <input type="text" class="form-control" id="{{form.last_name.auto_id}}" name="{{form.last_name.html_name}}" value="{{form.last_name.value}}" placeholder="Last name..." maxlength="{{form.last_name.field.max_length}}" aria-required="true" required>
            </div>
        </div>
        <div class="form-group">
            <label for="{{form.email.id_for_label}}">Email address:</label>
            <input type="email" class="form-control" id="{{form.email.auto_id}}" name="{{form.email.html_name}}" value="{{form.email.value}}" placeholder="Email address..." maxlength="{{form.email.field.max_length}}" aria-required="true" required>
        </div>
        <div class="form-group">
            <label for="{{profile_form.bio.id_for_label}}">Biography:</label>
            <textarea class="form-control" id="{{profile_form.bio.auto_id}}" name="{{profile_form.bio.html_name}}" rows="5" aria-required="true" required>{{profile_form.bio.value}}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </div>
        </form>
    </section>
    <!-- activity -->
    <section class="container activity">
        <h3>Activity</h3>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-watched-tab" data-toggle="tab" href="#nav-watched" role="tab" aria-controls="nav-watched" aria-selected="true">Watched Talks</a>
            <a class="nav-item nav-link" id="nav-liked-tab" data-toggle="tab" href="#nav-liked" role="tab" aria-controls="nav-liked" aria-selected="false">Liked Talks</a>
            <a class="nav-item nav-link" id="nav-disliked-tab" data-toggle="tab" href="#nav-disliked" role="tab" aria-controls="nav-disliked" aria-selected="false">Disliked Talks</a>
            <a class="nav-item nav-link" id="nav-favorited-tab" data-toggle="tab" href="#nav-favorited" role="tab" aria-controls="nav-favorited" aria-selected="false">Favorited Talks</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-watched" role="tabpanel" aria-labelledby="nav-watched-tab">
                {%  if watched_talks %}
                     {% include "_partials/list_activity_talks.html" with object_list=watched_talks %}
                {% else %}
                    <p>No results.</p>
                {%  endif %}
            </div>
            <div class="tab-pane fade" id="nav-liked" role="tabpanel" aria-labelledby="nav-liked-tab">
                {%  if liked_talks %}
                     {% include "_partials/list_activity_talks.html" with object_list=liked_talks %}
                {% else %}
                    <p>No results.</p>
                {%  endif %}
            </div>
            <div class="tab-pane fade" id="nav-disliked" role="tabpanel" aria-labelledby="nav-disliked-tab">
                {%  if disliked_talks %}
                     {% include "_partials/list_activity_talks.html" with object_list=disliked_talks %}
                {% else %}
                    <p>No results.</p>
                {%  endif %}
            </div>
            <div class="tab-pane fade" id="nav-favorited" role="tabpanel" aria-labelledby="nav-favorited-tab">
                {%  if favorited_talks %}
                     {% include "_partials/list_activity_talks.html" with object_list=favorited_talks %}
                {% else %}
                    <p>No results.</p>
                {%  endif %}
            </div>
        </div>

    </section>
</main>
{% endblock %}