{% extends "_layouts/default.html" %}
{% block title %}Terms of service - vtalks.net{% endblock %}
{% block content %}
<!-- terms -->
<section class="container-fluid terms p-0 py-4">
    <div class="container">
        <h2>Terms of Service</h2>
        <p>This website uses cookies. By using this website and agreeing to
        these terms and conditions, you consent to vtalks.net use of
        cookies in accordance with the terms of vtalks.net
        <a href="{% url 'corporate:privacy' %}">privacy policy</a>.</p>
        <h3>Open Source</h3>
        <p>vtalks.net is an open source project. So it is provided “as is”
        without any representations or warranties, express or implied. We
        no representations or warranties in relation to this website or the
        information and materials provided.</p>
        <p>You can contact vtalks.net for further information by email at
        <a href="mailto:hello@vtalks.net">hello@vtalks.net</a>.</p>
        <p>Last Updated: July 12, 2017</p>
    </div>
</section>
{% endblock %}